@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.register__body{
    display: flex;
}

.register__form_exterior{
    width: 20vw;
}

.register__lado_esquerdo{
    background-color: #6a1b9a;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.register__copyright{
    color: white;
    font-size: 12px;
}

.register__lado_esquerdo img{
    width: 100px;
    height: 100;
}

.register__formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register__input{
    width: 230px;
    height: 35px;
    border-radius: 4px;
    padding: 5px;
    outline: none;
    border: 1px solid transparent;
    margin-bottom: 20px;
}

.register__input:focus{
    border: 1px solid #1e88e5;
    transition: all 0.2s;
}

.register__input:not(:focus){
    border: 1px solid transparent;
    transition: all 0.2s;
}

label{
    color: white;
    display: flex;
    flex-direction: column;
}

label span{
    margin-bottom: 7px;
}

.register__btn{
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border: 0;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}

.register__btn:focus{
    background-color: #AAA;
    border: 2px solid #524f4f;
    outline: none;
}

.register__btn:not(:focus){
    background-color: white;
    outline: none;
}

.register__link{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.register__link span{
    color: #1e88e5;
}